.dog-title {
    font-size: 80px ;
    margin-top: 100px;
    font-family: "Times New Roman", Times, serif;
}

.columns {
    display: grid;
    grid-template-columns: 30% 39% 30%;

}

.create {
    /* box-sizing: content-box; */
    margin-left: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 44px;
    width: 55px;
    border-radius: 50px;
    background-color: #b5b5b5;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 10px;
    border: none;
    box-shadow: 0 4px #999;
}


.create:visited{
    text-decoration: underline;
    color: #515151;
}

.create:hover{
    background-color: lightgray
}
.create:active{
    background-color:#8990a2; 
    box-shadow: 0 5px #515151;
    transform: translateY(2px);
}

.link-card{
    text-decoration: none;
}
.link-card:visited{
    text-decoration: underline;
    color: #515151;
}

.link-card:hover{
    background-color: lightgray
}
.link-card:active{
    background-color:#8990a2; 
    box-shadow: 0 5px #515151;
    transform: translateY(2px);
}
.card {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 200px;
    margin-right: 200px;
}

.cargaPerro {
    box-sizing: content-box;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px 10px;
    border: none;
    height: 30px;
    border-radius: 8px;
    background-color: #b5b5b5;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px #999;
}

.cargaPerro:hover {
    background-color: lightgray
}

.cargaPerro:active {
    background-color: #666666;
    box-shadow: 0 5px #515151;
    transform: translateY(4px);
}

.dropbtn {
    /* margin-bottom: 1000px; */
    margin-top: 73px;
margin-left: 10px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;  */
    background-color: #666666;
    border-radius: 9;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #8990a2
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #b5b5b5;
}


.nav-home {

    height: 70px;
    background-color: #515151;
}